td, th {
	border: 3px solid white;
  color:white;
  font-style: italic;
  }
th{
  font-size: larger;
}
h1{
  font-family: 'Pacifico', cursive;
  font-style: italic;
  text-align: center;
  color:azure;
  }
tr{
  font-family: 'Gochi Hand', cursive;
  font-size:30px;
  }
  .planet_img{
  width:200px;
  height:200px;
  }