td,th {
		border:1px solid;
}
	h1{
		font-family: 'Raleway', sans-serif;
		font-size:50px;
		text-align:center;
	}
	table{
		text-align:center;
		border-collapse:collapse;
	}
	#planets{
		margin-left:auto;
		margin-right:auto;
	}
	.planet_img{
		width:200px;
		height:200px;
	}
	tr{
		font-family: 'Teko', sans-serif;
		font-size:30px;
		background-color:#F60929
	}
 	th:nth-child(2), td:nth-child(2){
		background-color:#2050Df;
	}
	body
	{
		background-color:#736c93
	}
