td,th {
	  border:5px solid white;
	  color:white;
	  }
	  h1{
		    font-family: 'Audiowide', sans-serif;
			text-align:center;
			color:white;
			font-weight:bold;
		}
	  table{
		    text-align:center;
			border-collapse:collapse;
	}
	#planets{
		margin-left:auto;
		margin-right:auto;
	}
	.planet_img{
		width:200px;
		height:200px;
	}
	tr{
		font-family: 'Exo', sans-serif;
		font-size:30px;
		background-color:#2c425c;
	}
 	th:nth-child(2), td:nth-child(2){
		background-color:#d0752f;
		font-family: 'Orbitron', sans-serif;
	}
	th:nth-child(3), td:nth-child(3){
		background-color:#2050Df;
		font-family: 'Space Mono', monospace;
	}
	th:nth-child(4), td:nth-child(4){
		background-color:#ce9531;
		font-family: 'Orbitron', sans-serif;
	}
	th:nth-child(5), td:nth-child(5){
		background-color:#fa8905;
		font-family: 'Space Mono', monospace;
	}
	body{
		background-image: url('https://universe.nasa.gov/internal_resources/402/Carina%20Nebula.jpeg');
	}
