td,th {
		border:1px solid;
}
	h1{
		font-family: 'Raleway', sans-serif;
		font-size:50px;
		text-align:center;
	}
	.planet_img{
		width:200px;
		height:200px;
	}
	tr{
		font-family: 'Bebas Neue', sans-serif;
		font-size:30px;
		background-color:#F60929
	}
	
	body
	{
		background-color:#736c93
	}
